{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macro.html" as marcos %}
Hello, 
{% if current_user.is_authenticated() %}
    {{ current_user.username }}
{% else %}
    Stranger
{% endif %}!

{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ marco.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

<div>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-data">{{ moment(post.timestamp).fromNow() }}</div>
        <div class="post-author">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        </div>
        <div class="post-body">{{ post.body }}</div>
    </li>
    {% endfor %}
</ul>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
